<h2> Applicants </h2>
<ul>
    <% @applicants.each do |appl| %>
        <li><%= link_to appl.name, applicant_path(appl)%></li>
    <% end %>

</ul>


<%= link_to "Register new Applicant", new_applicant_path %>
<br>
<%= link_to "Home", "/" %>
