<h2>Interviewer details </h2>

<p><%= @interviewer.name %> </p>
<p><%= @interviewer.department %></p>
<p>Cheerfulness score: <%= @interviewer.cheer %></p>


<%= link_to "Interviewer Index", interviewers_path %>
